*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: black;
	justify-content: space-between;
}
.header_logo{
	text-transform: uppercase;
	color:white;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 43px;
	margin-left: 12%;
	margin-bottom: 10px;

}
nav{
	margin-top: 43px;
	margin-left: 12%;
	margin-right: 9%;
}
nav .topnav a{
	color:white;
	text-align: center;
	padding: 14px 16px;
	font-size: 14px;
	font-weight: bold;

}
.topnav a:hover {
	border-bottom:3px solid #fcac45;
}

.topnav .icon{
	display:none;
}
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
main .welcome{
	background: black;
	text-align: center;
	padding: 200px 0 410px 0;		
}
main .welcome h1{
	font-size: 44px;
	color:#999;
}
 main .welcome p{
	color: #d4d4d4;
	font-size: 20px;
	padding-top:24px;
}
span.mycomp{
	color: #fcac45;
}

main .wrapper{
	width: 77%;
	margin: 0 auto;
	
}
main .main_about{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 100px 0 100px 0;
	background:white;
}
.about-left{
	margin-right: 170px;
}
.mw-100{
	min-width: 100%;
}
.about-right h1{
	display: inline-block;
	font-size: 32px;
	color:747474;
	border-bottom: 3px solid #fcac45;
	font-weight: normal;
}
.about-right h1:after{
	display: none;
}

.about-right p,
.about-right li{
	color:#6c6c6c;
	font-size: 14px;
}
.about-right li .italic{
	font-style: italic;
}
.about-right li .bold{
	font-weight: bold;
}
.about-right p{
	margin: 30px 0 50px 0;
}
.about-right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 23px;
	margin-top: 10px;
}



.wrapper2{
	background: black;
	width: 100%;
	color:white;
	
}

.team{
	margin: 0 auto;
	width: 76%;
	text-align: center;
	padding: 100px 0 165px 0;
	position: relative;
}
.team h1{
  font-size: 44px;
  margin-bottom: 30px;
}
.line{
	border-bottom: 3px solid #fcac45
}
.team .line{
	width: 100px;
	position: absolute;
	left: 45%;
	

}
.photo{
	border-radius: 50%;
	width: 125px;
	height: 125px;
	background: white;
	margin: 100px auto 23px;
}
.cards{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}
.col{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 0 10px 0 10px;
}
.name{
	font-size: 20px;
	margin-bottom: 10px;
}
.prof{
	font-size: 16px;
	margin-bottom: 20px;
}
.comment{
	font-size: 14px;
}




.wrapper3{
	width: 100%;
	 color: #222;	
}

.wrapper3 .servis{
	margin: 0 auto;
	width: 76%;
	text-align: center;
	padding: 100px 0 30px 0;
	position: relative;
}
.wrapper3 h1{
	 font-size: 44px;
     margin-bottom: 10px;

}
.line_servis{
	width: 100px;
	position: relative;
	left:45.5%;
	margin-bottom: 80px;

}

  .servis p .p_card{
 	font-size: 16px;	
 }
 
 .photo_card{
 	border-radius: 50%;
	width: 125px;
	height: 125px;
	background: white;
	border:3px solid #fcac45;
	margin: 100px auto 23px;
 }
 .wrapper3 h3{
 	font-size: 25px;
 	text-transform: uppercase;
 	margin-bottom: 20px;
 }
.wrapper3 .cards p{
	font-size: 14px;
}

img{
	position: relative;
	top:35px;
}

.wrapper4{
	width: 100%;
	background: black;
}
.clients{
	margin: 0 auto;
	width: 76%;
	text-align: center;
	padding: 100px 0 210px 0;
}

.clients h1{
	font-size: 44px;
	color:white;
	margin-bottom: 30px;
}
.clients .line{
	width: 100px;
	position: relative;
	left: 45%;
}
/*.brand{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 100px;
}
.brand img{
	margin: 0 15px;
}
.brand img:first-child{
	margin-left: 0;
}
*/
.brand {
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 30px;
	margin-top: 100px;
}
.clients p{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 115px;
}
.clients h5{
    font-size: 18px;
    color: white;
    margin-top: 50px;
}


.cl1{
	margin: 0 auto;
	width: 76%;
	text-align: center;
	padding: 100px 0 100px 0;
}

.cl1 h1{
	font-size: 44px;
	margin-bottom: 30px;
}
.cl1 .line{
	width: 100px;
	position: relative;
	left: 45%;
	margin-bottom: 55px;
}
.cl1 p{
	margin-bottom: 175px;
	font-size: 16px;
}

.gallery img{
	width:17%;
}
.gallery img:hover{
	opacity: 0.9;
}






.contact{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
}

.contact h1{
	font-size: 44px;
	color:#222;
	margin-bottom: 30px;
}
.contact .line{
	width: 100px;
	position: relative;
	left: 45%;
	margin-bottom: 55px;
	margin-top: 30px;

}

 .fp .form_inputs{
	flex: 0 1 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.fp{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.fp p{
	margin-bottom: 10px;
	text-align: left;

}
.red{
	color:red;
}



 input{
	width: 320px;
	height: 50px;
}
input, textarea{
	border:1px solid #999;
}
textarea{
	width: 100%;
	height: 165px;
}
input{
	margin-bottom: 30px;
}
input:first-of-type{
	margin-right: 30px;
}
.button_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;

}
input[type=submit]{
	width: 165px;
	height: 40px;
	color: white;
	background-color:#fcac45;
	border:none; 
}

.main_footer{
	
	background: black;
}
.main_footer .social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 215px;
	margin: 30px auto 30px;
	-ms-align-items: center;
	align-items: center;
}

.social img{
	margin:0 5px;
	margin-bottom: 30px;
}

h1:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}


















































@media screen and (max-width: 1200px){
	nav{
		margin-left: 10%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 1105px){
	nav{
		margin-left: 5%;
		margin-right: 0;
	}
}

@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		display: block;
		float: right;
		margin-top: -17px;
		font-size: 25px;
		color:white;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top:50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top:-50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}





	main .main_welcome{
		padding: 50px 0;
	}
	main .main_welcome h1{
		font-size: 25px;
	}
	.mw-100{
	max-width: 100%;
	}
	.main_about{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;

	}
	.about_left{
		text-align: center;
		margin-left: 0;
	}
	.bl{
		height: 50px;
	}

	.about_right li{
		text-align: left;
	}
	.about_right h1{

		font-size: 20px;
		
	}




    .cards{
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    }


     .brand{
     	grid-template-columns: auto;
     	text-align: center;
     	margin: 0 auto;
     }
     .brand img{
     	margin: 50px;
     }


     .gallery .line1 img:not(:first-child){
     	display: none;
     }
     .gallery .line2 img:not(:first-child){
     	display: none;
     }
	 .gallery .line3 img:not(:first-child){
     	display: none;
     }
     .gallery img{
     	width: 50%;	
     }

     .form_inputs{
     	-webkit-flex-direction: column;
     	-moz-flex-direction: column;
     	-ms-flex-direction: column;
     	-o-flex-direction: column;
     	flex-direction: column;
     }


}

























